.view-account-container {
    p.title-view-account-dialog {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 16px;
        text-transform: uppercase;
        color: #566371;
        margin: 4px 0px;
    }

    p.body-view-account-dialog {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #1e2327;
        margin: 4px 0px;
    }
}
